[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
boto3 = "*"
serpapi = "*"
openai = "*"
google-api-python-client = "*"
pillow = "*"
pytube = "*"
moviepy = "*"
opencv-python = "*"
torch = "*"
mediapipe = "*"
pandas = "*"
scenedetect = "*"
flask-cors = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.11"
